<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <listener>
            <listener-class>com.bstek.dorado.web.servlet.SpringContextLoaderListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>  
                <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
        <init-param>
            <param-name>excludeSuffixs</param-name>
            <param-value>js,css,jpg,gif,png</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>*.d</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/dorado/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    
    <!-- 中文乱码 -->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- 用户拦截 -->
	<filter>
		<filter-name>filterView</filter-name>
		<filter-class>com.eclt.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filterView</filter-name>
		<url-pattern>*.d</url-pattern>
	</filter-mapping>
	
    <servlet>
        <servlet-name>doradoServlet</servlet-name>
        <servlet-class>com.bstek.dorado.web.servlet.DoradoServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doradoServlet</servlet-name>
        <url-pattern>*.d</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doradoServlet</servlet-name>
        <url-pattern>*.dpkg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doradoServlet</servlet-name>
        <url-pattern>/dorado/*</url-pattern>
    </servlet-mapping>
    
   <!-- 配置SpringMVC前端控制器 -->
 	<servlet>
 		 <servlet-name>springmvc</servlet-name>
 		 <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <!-- 指定SpringMVC配置文件 -->
  <!-- SpringMVC的配置文件的默认路径是/WEB-INF/${servlet-name}-servlet.xml -->
 		 <init-param>
 			  <param-name>contextConfigLocation</param-name>
 			  <param-value>/WEB-INF/dorado-home/spring-mvc.xml</param-value>
		  </init-param>
 	</servlet>


 	<servlet-mapping>
 		 <servlet-name>springmvc</servlet-name>
 		 <!-- 设置所有以do结尾的请求进入SpringMVC -->
	     <url-pattern>*.do</url-pattern>
 	</servlet-mapping>
</web-app>
